<section class="selected_movie">
  <h1>Blade runner</h1>
</section>

<section class="movie_comparison">
  <div ng-controller="MoviesCtrl">
    <form name="movie" ng-submit="addMovie()" class="row collapse">
      <div class="small-10 columns">
        <input type="text" placeholder="Movie Title" ng-model="newMovie.title">
      </div>

      <div class="small-2 columns">
        <input type="submit" value="Add" class="button prefix">
      </div>
    </form>

    <ul>
      <li ng-repeat="movie in movies">
        {{ movie.title }}
        <span class="votes">{{ movie.rating }} Votes</span>
        <button ng-click="movie.vote()" class="small">Vote</button>
      </li>
    </ul>
  </div>
</section>