<section class="selected_movie">
  <h1>Blade runner</h1>
</section>

<section class="movie_comparison">
  {{view NextMovie.NewMovieView}}

  <ul>
    {{#each controller}}
      <li>
        {{title}} <button class="tiny" {{action vote id}}>Vote</button>
      </li>
    {{/each}}
  </ul>
</section>