<div class="small-10 columns">
  {{view Ember.TextField valueBinding="view.newMovieTitle"}}
</div>

<div class="small-2 columns">
  <input type="submit" value="Add Movie" class="button prefix">
</div>
