@import "foundation";

$row-width: 100%;

body {
  @include grid-row;
}

.selected_movie {
  @include grid-column(12);
}

.movie_comparison {
  @include grid-column(5, $center: true);
}

h1 {
  text-align: center;
}

ul {
  list-style-type: none;
}